@page "/EditCustomer/{CustomerId:guid}"
@using Client.HttpClients
@using Client.Services
@using BlazorShop.Resources
@using global::Shared.DTOs
@inject ShopHttpClient ShopHttpClient
@inject AppStateService AppState
@inject NavigationManager NavigationManager
@inject IToastService ToastService

<h1>EditCustomer</h1>

<div class="independent-form-contents">
    <EditForm Model="@ExistingCustomer" OnValidSubmit="@HandleValidSubmit">
        <div class="independent-form-errors">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>

        <div class="editor-label">
            <label>Name</label>
        </div>
        <div class="editor-field">
            <InputText @bind-Value="ExistingCustomer.Name" style="width:400px" />
        </div>
        <br />

        <div class="independent-form-submit">
            <input type="submit" class="button" value="Save" />
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public Guid CustomerId { get; set; }

    public UpdateCustomerDto ExistingCustomer = new UpdateCustomerDto();

    protected override async Task OnInitializedAsync()
    {
        var customer = await ShopHttpClient.GetCustomerById(CustomerId);
        ExistingCustomer.Id = customer.Id;
        ExistingCustomer.Name = customer.Name;
    }

    private async Task HandleValidSubmit()
    {
        await ShopHttpClient.UpdateCustomer(ExistingCustomer);
        NavigationManager.NavigateTo($"/Customers");
    }
}
